:root {
  --font-ligth-color: #eaeaea;
  --font-dark-color: #2e1c2b;
  --button-tittle-color: #893168;
  --hover-actions-color: #4a1942;
  --background-color: #0b060a;
  --complement-decoration: #4417a6;
}

.form_body {
  width: 100%;
  height: 650px;
  background-color: var(--background-color);
  color: var(--font-ligth-color);
  padding: 1%;
}

.form_body .img {
  width: 55%;
  & img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1.5rem;
  }
}

form {
  width: 45%;
  padding: 1rem 3rem;

  h1 {
    font-size: 3rem;
    font-weight: 700;
  }
  p {
    font-weight: 100;
    padding-left: 0.5rem;
  }

  textarea {
    width: 99%;
    margin: 1rem 0.5%;
    padding: 0.5rem;
    outline: none;
    border-radius: 0.3rem;
    height: 150px;
    resize: none;
    border: 1px solid var(--font-ligth-color);
  }

  .send-form{
    background-color: var(--button-tittle-color);
    padding: .8rem;
    border-radius: .3rem;
    transition: .2s ease-in-out;
    cursor: pointer;
    font-size: 1rem;
  }

  .send-form:hover{
    background-color: var(--hover-actions-color);
  }
}

.information {
  padding-top: 1.5rem;

  .element {
    width: 45%;

    input {
      width: 100%;
      border: 1px solid var(--font-ligth-color);
      outline: none;
      margin-top: 0.7rem;
      padding: 0.4rem 0.8rem;
      border-radius: 0.3rem;
      font-size: .9rem;
    }
  }
}



input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;

}